Teste

In [22]:
# Imports

import pandas as pd
from collections import defaultdict

In [5]:
# Declarações

path = 'BasedeDadosPNS-2019/PNS2019-raw.csv'
read_csv = pd.read_csv(path,sep=';')

Convertendo o CSV para Parquet com o fim de otimizar a leitura do arquivo

In [7]:
read_csv.to_parquet('./BasedeDadosPNS-2019/PNS2019.parquet')

In [8]:
path = 'BasedeDadosPNS-2019/PNS2019.parquet'
read_parquet = pd.read_parquet(path)

In [9]:
read_parquet

,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,V0025A,...,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA,ID_DOMICILIO
0,11,1110011,110000016,1,1,2019,6,1,1,1,...,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504,1100000160001
1,11,1110011,110000016,1,1,2019,6,1,1,0,...,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504,1100000160001
2,11,1110011,110000016,1,1,2019,6,1,1,0,...,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504,1100000160001
3,11,1110011,110000016,1,1,2019,6,1,1,9,...,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504,1100000160001
4,11,1110011,110000016,1,1,2019,6,1,1,9,...,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20220504,1100000160001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279377,53,5310220,530044434,13,1,2019,1,2,1,1,...,1.0,1500.0,1500.0,4.0,NaN,1.0,NaN,NaN,20220504,5300444340013
279378,53,5310220,530044434,14,1,2019,4,2,1,0,...,1.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20220504,5300444340014
279379,53,5310220,530044434,14,1,2019,4,2,1,1,...,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20220504,5300444340014
279380,53,5310220,530044434,14,1,2019,4,2,1,0,...,7.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20220504,5300444340014
279381,53,5310220,530044434,14,1,2019,4,2,1,9,...,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20220504,5300444340014

In [29]:
dicionario = pd.read_excel('Dicionario/dicionario_PNS_microdados_2019.xls')

In [43]:
dicionario.ffill(axis=0, inplace=True)
dicionario.ffill(axis=1, inplace=True)

In [44]:
dicionario.loc[0:10]

,Dicionário das variáveis da PNS 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Posição inicial,Tamanho,Código\nda\nvariável,Quesito,Quesito,Categorias,Categorias
1,Posição inicial,Tamanho,Código\nda\nvariável,nº,descrição,Tipo,Descrição
2,Posição inicial,Tamanho,Código\nda\nvariável,nº,descrição,Tipo,Descrição
3,Parte 1 - Identificação e Controle,Tamanho,Código\nda\nvariável,nº,descrição,Tipo,Descrição
4,1,2,V0001,nº,Unidade da Federação,11,Rondônia
5,1,2,V0001,nº,Unidade da Federação,12,Acre
6,1,2,V0001,nº,Unidade da Federação,13,Amazonas
7,1,2,V0001,nº,Unidade da Federação,14,Roraima
8,1,2,V0001,nº,Unidade da Federação,15,Pará
9,1,2,V0001,nº,Unidade da Federação,16,Amapá
10,1,2,V0001,nº,Unidade da Federação,17,Tocantins

In [41]:
dicionario.to_csv('Dicionario/PNS2019.csv', encoding='utf-8')